{# @var plugin \ghoststreet\craftincrementalstaticregeneration\Plugin #}
{# @var settings \ghoststreet\craftincrementalstaticregeneration\models\Settings #}

{% import '_includes/forms.twig' as forms %}

<h2>Settings</h2>

<div class="field">
  {% if craft.app.config.general.allowAdminChanges %}
    <div class="heading">
      <label id="settings-isEnabled-label" for="isEnabled">
        Plugin Enabled
      </label>
    </div>
    {{
      forms.booleanMenu({
        id: 'isEnabled',
        name: 'isEnabled',
        value: settings.isEnabled,
        includeEnvVars: true,
        errors: settings.getErrors('isEnabled')
      })
    }}
  </div>
  {% else %}
    <div class="heading">
      {% if settings.getIsEnabled() %}
        ✅ ISR cache busting enabled
      {% else %}
        ❌ ISR cache busting disabled
      {% endif %}
    </div>
  {% endif %}

{{
  forms.autosuggestField({
    label: 'Craft site URL to replace',
    instruction: 'Insert the URL of the craft site to replace if not using headless mode',
    id: 'siteToReplace',
    name: 'siteToReplace',
    value: settings.siteToReplace,
    suggestEnvVars: true,
    required: false,
    errors: settings.getErrors('siteToReplace')
  })
}}


{{
  forms.autosuggestField({
    label: 'Front End site URL',
    instruction: 'Insert the URL of the front end site using ISR',
    id: 'targetSite',
    name: 'targetSite',
    value: settings.targetSite,
    suggestEnvVars: true,
    required: false,
    errors: settings.getErrors('targetSite')
  })
}}
